extends layout

block content
  h1=title

  form(method='POST' action='')
    div.form-group
      label(for='date') Date:
      input#date.form-control(type='date', name='date' required='true')

      label(for='time') Time:
      input#time.form-control(type='time', name='time' required='true')

      label(for='people_num') People Number:
      input#people_num.form-control(type='text', placeholder='4' name='people_num' required='true') 

    div.form-group
      label(for='creator') Customer:
      input(type='text' list='creator' name='creator' placeholder='Select email' required='true')
      datalist(id='creator')
        if customers
          for customer in customers
            option(value=customer.email) #{customer.first_name+', '+customer.last_name}

    button.btn.btn-primary(type='submit') Submit
  if errors
    ul
      for err in errors
        li #{err}



