extends layout

block content
  h1=title

  form(method='POST' action='')
    div.form-group
      label(for='restaurant') Restaurant:
      input#restaurant.form-control(type='text', placeholder='Chipotle' name='restaurant' required='true')
      label(for='date') Date:
      input#date.form-control(type='date', name='date' required='true')
      label(for='time') Time:
      input#time.form-control(type='text', placeholder='hh:mm' name='time' required='true')
      label(for='phone_number') Size of Party:
      input#phone_number.form-control(type='text', placeholder='2' name='phone_number')
    button.btn.btn-primary(type='submit') Submit
  if errors 
    ul
      for error in errors
        li!= error.msg