extends layout

block content
  h1=title

  form(method='POST' action='')
    div.form-group
      label(for='email') Email:
      input#email.form-control(type='email', placeholder='name@email.com' name='email' required='true' value=(undefined===rest ? '' : Rest.email))
      label(for='password') Password:
      input#password.form-control(type='password' name='password'  required='true' value=(undefined===rest ? '' : rest.password))
      label(for='password2') Confirm Password:
      input#password2.form-control(type='password' name='password2')
      label(for='rest_name') Restaurant Name:
      input#rest_name.form-control(type='text', placeholder='Chipotle' name='rest_name' required='true' value=(undefined===rest ? '' : Rest.rest_name) )
      label(for='Address') Address:
      input#Address.form-control(type='text', placeholder='41 Cooper Square, New York, NY, 10003' name='Address' required='true' value=(undefined===rest ? '' : Rest.Address))

      label(for='max_capacity') Max Capacity:
      input#max_capacity.form-control(type='text', placeholder='999' name='max_capacity' required='true' value=(undefined===rest ? '' : Rest.max_capacity))

      label(for='phone_number') Phone Number:
      input#phone_number.form-control(type='tel', placeholder='123-456-7890' name='phone_number', value=(undefined===rest ? '' : Rest.phone_number) )
      label(for='open_time') Open Time:
      input#open_time.form-control(type='time', name='open_time', value=(undefined===rest ? '' : Rest.open_time) )
      label(for='close_time') Close Time:
      input#close_time.form-control(type='time', name='close_time', value=(undefined===rest ? '' : Rest.close_time) )

    button.btn.btn-primary(type='submit') Submit
  if errors 
    ul
      for error in errors
        li!= error